*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 95%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 2.5%;
    z-index: 9999;
}

nav ul{
    display: flex;
    /* flex-flow é a forma abreviada de flex-direction(define como os filhos serão exibidos
    em linha ou em coluna) e flex-wrap(define se os filhos quebrarao de linha caso nao caibam na tela) */
    flex-flow: row wrap;
    /*altera o alinhamento horizontal dos elementos filhos */
    justify-content: left;
    margin-top: 70px;
}

nav ul#esquerda{
    float: left;
}

nav ul#direita{
    float:right;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 80%;
}

nav ul li a#criar-conta{
    border: 1px solid #fff;
    padding: 9px 29px;
}

nav ul li a:hover{
    background-color: #f2b705;
    transition-duration:0.8s;
}

/* quando o icone for do ionic icons, para aumentar ou diminuir
seu tamnho utilize width e height */
nav ion-icon{
    width: 45px;
    height: 45px;
    color: #fff;
    margin-top:-14px;
    margin-left: 20px;
}

nav ion-icon:hover{
    color: #f2b705;
    cursor: pointer;
    transition: 0.8s;
}

/* section{
    padding: 55px 0 80px;
} */

header{
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url(../img/secao08-background-capa.jpg);
    width: 100%;
    height: 1024px;
    background-size: cover;
    background-position: center center;
    border-top: 5px solid #078c31;
}

header div#chamada{
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 30%;
    left: auto;
}

/*-----------------------------*/
/*---SEÇÃO--FINAL DE SEMANA ---*/
/*-----------------------------*/

section#final-de-semana{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div#final-semana-esquerda, div#final-semana-direita{
    position: relative;
    width: 15%;
}

div#final-semana-centro{
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* alinhamento dos elementos filhos na horizontal */
    justify-content: flex-start;
    /* alinhamento dos elementos filhos na horizontal */
    align-items: center;
}

div#pontos-chaves-mestre{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.pontos-chaves{
    text-align: center;
    width: 25%;
}

