header div#chamada a{
    border-radius: 0;
}

h2{
    font-size: 250%;
}

/* nav */

nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
}

nav ul#esquerda, nav ul#direita{
    position: absolute;
    top: 48px;
    right: 30px;
    background-color: black;
    display: none; 
}

nav ul#direita{
    top: 190px;
}

nav ul#icone-menu-mobile{
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
    margin-right: 30px;
}

nav ul li a, nav ul li a#criar-conta{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0;
    font-size: 80%;
    border: none;
}

/* domingo perfeito */

div#pontos-chaves-mestre{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

div.pontos-chaves{
    width: 80%;
    margin-bottom: 40px;
}

div.pontos-chaves p{
    font-size: 115%;
    font-weight: 300;
    line-height: 3em;
}

/* testemunhos */

div#testemunha-centro{
    width: 300px;
    font-weight: 300;
}

section#testemunha div#testemunha-centro div#testemunhos ul p{
    font-size: 115%;
}

/* planos */

section#plano-principal{
    height: 100%;
}

div#planos-janela{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

div.planos{
    width: 290px;
    margin: 30px;
}

/* footer */

footer div#mapa{
    display: none; 
}

footer div#info{
    width: 100%;
}