/* tipografia */
p.destaque, section#pizza p.destaque,
section#testemunha p.destaque{
    width: 80%;
}

/* header */

nav{
    width: 100%;
    left: 0;
    padding-right: 10px;
}

nav div {
    width: 150px;
    height: 130px;
    background-position: center bottom;
}

/* final de semana perfeito */
div#final-semana-esquerda, div#final-semana-direita {
    display: none;
}

div#final-semana-centro{
    width: 95%;
}

/* pizza */
div#pizza-opcoes-mestre{
    width: 95%;
}

/* testemunhos */
div#testemunha-centro{
    width: 680px;
}

div#testemunha-esquerda, div#testemunha-direita{
    display: none;
}

/* transição */
div#transicao-testemunha-plano{
    display: none;
}

/* planos */
div#planos-janela{
    width: 100%;
}

div.planos{
    margin: 80px 5px;
}

@media screen and (max-width: 940px){
    div.planos{
        width: 220px;
    }
}

/* footer */

footer div#mapa, footer div#info{
    width: 45%;
}

footer div#info{
    margin-right: 35px ;
}

footer div#redes-sociais ion-icon{
    width: 10%;
}

footer div#pizza-rodape-decoracao{
    display: none;
}